## Numbers and Data Types ##

In [1]:
age = 24

In [2]:
age

24

In [3]:
age / 2

12.0

**Data Types**

Text Type ise: string (str)

Numeric Type ise: integer (int) --> tam sayı, float (flt) --> ondalıklı yani kesirli sayı

In [4]:
type(10)

int

In [5]:
type(34.5)

float

In [6]:
type("tito")

str

In [7]:
myFloat = 1.323423
type(myFloat)

float

In [8]:
myStr = "Tito" + "Tito"

type(myStr)

str

**Gösterim Tipleri**

--Variables'lara isim atarken gösterim tipleri, okunaklılık açısından önemli. İki farklı gösterim tipi var:

1) camelCase: Yani ilk kelime küçük harfle başlarken, diğeri büyük harfle başlar.

2) snake_case: İlk ve ikinci kelime (veya daha sonra gelebilecek tüm kelimeler) arasında '_' işareti var.

In [9]:
40 / 4

10.0

In [10]:
type(40/4)

float

Pythonda, tam sayıyı tam sayıya böldüğümüzde de sonuç float çıkar. Diğer çoğu programlama dilinde integer / integer'in sonucu yine integer gelir.

In [11]:
myFloat = 50.4

In [12]:
type(myFloat)

float

In [13]:
myFloat = int(myFloat)

In [14]:
type(myFloat)

int

In [15]:
int_mult_str = "Tito"*5

In [16]:
int_mult_str

'TitoTitoTitoTitoTito'

In [17]:
type(int_mult_str)

str

--'*' işareti, pythonda ya iki numerik sayıyı (float, int vs.) ya da bir integer, bir str'yi çarpmaya yarar.

--yani örneğin, Tito*5.0 kodu hata verecektir. Çünkü 5.0 float veri tipine sahiptir. (TypeError: can't multiply sequence by non-int of type 'float'
)

In [18]:
10 % 3 #remainder, yani kalan bulma

1

In [19]:
2**2 #üslü sayı

4

In [22]:
first_int = 5
second_float = 2.4
third_float = 42.21

In [26]:
first_int * second_float * third_float

506.52

In [28]:
new_float = first_int ** second_float

In [31]:
new_float

47.59134846789696

In [32]:
type(new_float)

float