In [5]:
the_list = [
    143266561,
    1738152473,
    312377936,
    1027708881,
    1871655963,
    1495785517,
    1858250798,
    1693786723,
    374455497,
    430158267,
]

In [13]:
the_list.sort()

In [14]:
the_list

[143266561,
 312377936,
 374455497,
 430158267,
 1027708881,
 1495785517,
 1693786723,
 1738152473,
 1858250798,
 1871655963]

In [15]:
import math

In [16]:
#!/usr/bin/env python3

whetting_your_appetite = "Python is an easy to learn, powerful programming language. It has efficient high level data structures and a simple but effective approach to object oriented programming. This tutorial introduces the reader informally to the basic concepts and features of the Python language and system. For a description of standard objects and modules..."

# Enter your code below:

In [18]:
new_list = whetting_your_appetite.split()

In [19]:
len(new_list)

52

In [1]:
def function_test(x):
    return x

In [2]:
function_test(4)

4

In [4]:
import math

In [7]:
def radius_of_circle(x):
    return x*math.pi

In [11]:
radius_of_circle(200)

628.3185307179587

In [18]:
even_numbers = []
for i in range(0,5):
    if i % 2 == 0:
        even_numbers.append(i)

In [32]:
new_list = list(range(0,100))
even_list = []

In [33]:
for i in new_list:
    if i % 2 == 0:
        even_list.append(i)

In [35]:
sum(even_list)

2450

In [19]:
even_numbers

[0, 2, 4]

In [9]:
x = 100

def circle_perimeter(x):
    return x*math.pi

In [37]:
print(sum([i for i in range(101) if i % 2 == 0]))

2550

In [36]:
# 1000'den küçük (< 1000) ve 3 veya 5'in katları olan tüm doğal sayıların toplamını bulan ve bunu yazdırılan bir program yazın.

In [38]:
print(sum([i for i in range(1000) if i % 3 == 0 or i % 5 == 0]))

233168

In [39]:
# from fahrenheit to celcius: (X-32)*5/9
# from celsius to fahrenheit: (x*5/9 + 32)

In [41]:
def fahrenheit_to_celsius(temp):
    return(temp-32)*5/9

In [47]:
def celsius_to_fahrenheit(temp):
    return(temp*9/5+32)

In [48]:
celsius_to_fahrenheit(100)

212.0

In [51]:
import string

In [53]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [66]:
for first in string.ascii_lowercase:
    for second in string.ascii_lowercase:
        print(first+second)

aa
ab
ac
ad
ae
af
ag
ah
ai
aj
ak
al
am
an
ao
ap
aq
ar
as
at
au
av
aw
ax
ay
az
ba
bb
bc
bd
be
bf
bg
bh
bi
bj
bk
bl
bm
bn
bo
bp
bq
br
bs
bt
bu
bv
bw
bx
by
bz
ca
cb
cc
cd
ce
cf
cg
ch
ci
cj
ck
cl
cm
cn
co
cp
cq
cr
cs
ct
cu
cv
cw
cx
cy
cz
da
db
dc
dd
de
df
dg
dh
di
dj
dk
dl
dm
dn
do
dp
dq
dr
ds
dt
du
dv
dw
dx
dy
dz
ea
eb
ec
ed
ee
ef
eg
eh
ei
ej
ek
el
em
en
eo
ep
eq
er
es
et
eu
ev
ew
ex
ey
ez
fa
fb
fc
fd
fe
ff
fg
fh
fi
fj
fk
fl
fm
fn
fo
fp
fq
fr
fs
ft
fu
fv
fw
fx
fy
fz
ga
gb
gc
gd
ge
gf
gg
gh
gi
gj
gk
gl
gm
gn
go
gp
gq
gr
gs
gt
gu
gv
gw
gx
gy
gz
ha
hb
hc
hd
he
hf
hg
hh
hi
hj
hk
hl
hm
hn
ho
hp
hq
hr
hs
ht
hu
hv
hw
hx
hy
hz
ia
ib
ic
id
ie
if
ig
ih
ii
ij
ik
il
im
in
io
ip
iq
ir
is
it
iu
iv
iw
ix
iy
iz
ja
jb
jc
jd
je
jf
jg
jh
ji
jj
jk
jl
jm
jn
jo
jp
jq
jr
js
jt
ju
jv
jw
jx
jy
jz
ka
kb
kc
kd
ke
kf
kg
kh
ki
kj
kk
kl
km
kn
ko
kp
kq
kr
ks
kt
ku
kv
kw
kx
ky
kz
la
lb
lc
ld
le
lf
lg
lh
li
lj
lk
ll
lm
ln
lo
lp
lq
lr
ls
lt
lu
lv
lw
lx
ly
lz
ma
mb
mc
md
me
mf
mg
mh
mi
mj
mk
ml
mm
mn
mo
mp
mq
mr
ms
mt
mu
mv
mw
mx
my
mz
na
nb
nc
nd
ne
nf
ng
nh
ni
nj
nk
nl
nm
nn
no
np
nq
nr
ns
nt
nu
nv
nw
nx
ny
nz
oa
ob
oc
od
oe
of
og
oh
oi
oj
ok
ol
om
on
oo
op
oq
or
os
ot
ou
ov
ow
ox
oy
oz
pa
pb
pc
pd
pe
pf
pg
ph
pi
pj
pk
pl
pm
pn
po
pp
pq
pr
ps
pt
pu
pv
pw
px
py
pz
qa
qb
qc
qd
qe
qf
qg
qh
qi
qj
qk
ql
qm
qn
qo
qp
qq
qr
qs
qt
qu
qv
qw
qx
qy
qz
ra
rb
rc
rd
re
rf
rg
rh
ri
rj
rk
rl
rm
rn
ro
rp
rq
rr
rs
rt
ru
rv
rw
rx
ry
rz
sa
sb
sc
sd
se
sf
sg
sh
si
sj
sk
sl
sm
sn
so
sp
sq
sr
ss
st
su
sv
sw
sx
sy
sz
ta
tb
tc
td
te
tf
tg
th
ti
tj
tk
tl
tm
tn
to
tp
tq
tr
ts
tt
tu
tv
tw
tx
ty
tz
ua
ub
uc
ud
ue
uf
ug
uh
ui
uj
uk
ul
um
un
uo
up
uq
ur
us
ut
uu
uv
uw
ux
uy
uz
va
vb
vc
vd
ve
vf
vg
vh
vi
vj
vk
vl
vm
vn
vo
vp
vq
vr
vs
vt
vu
vv
vw
vx
vy
vz
wa
wb
wc
wd
we
wf
wg
wh
wi
wj
wk
wl
wm
wn
wo
wp
wq
wr
ws
wt
wu
wv
ww
wx
wy
wz
xa
xb
xc
xd
xe
xf
xg
xh
xi
xj
xk
xl
xm
xn
xo
xp
xq
xr
xs
xt
xu
xv
xw
xx
xy
xz
ya
yb
yc
yd
ye
yf
yg
yh
yi
yj
yk
yl
ym
yn
yo
yp
yq
yr
ys
yt
yu
yv
yw
yx
yy
yz
za
zb
zc
zd
ze
zf
zg
zh
zi
zj
zk
zl
zm
zn
zo
zp
zq
zr
zs
zt
zu
zv
zw
zx
zy
zz

In [68]:
for k in range(97,123):
    print(k)

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

In [69]:
longest_word = ("We want a SHRUBBERY")

In [70]:
longest_word

'We want a SHRUBBERY'

In [75]:
longest_word.split()

['We', 'want', 'a', 'SHRUBBERY']

In [84]:
for i in longest_word.split():
    word_len = len(i)
    print(max(word_len))

TypeError: 'int' object is not iterable

In [86]:
# Provide a script printing every possible sorbet duos from a given list of flavors.

# Don't print recipes with twice the same flavor (no "Chocolate, Chocolate"), 
# and don't print twice the same recipe (if you print "Vanilla, Chocolate", don't print "Chocolate, Vanilla", or vice-versa).

In [90]:
flavors = [
    "Banana",
    "Chocolate",
    "Lemon",
    "Pistachio",
    "Raspberry",
    "Strawberry",
    "Vanilla",
]

In [101]:
flavors_list = []
for first in flavors:
    for second in flavors:
        if first != second:
            flavors_list.append(first + ' ' + second)

In [105]:
flavors = [
    "Banana",
    "Chocolate",
    "Lemon",
    "Pistachio",
    "Raspberry",
    "Strawberry",
    "Vanilla",
]

flavors_list = []

for first in flavors:
    for second in flavors:
        if first != second:
            flavors_list.append(first + ',' + ' ' + second)

In [109]:
flavors_list[0]

'Banana, Chocolate'

In [111]:
flavors = [
    "Banana",
    "Chocolate",
    "Lemon",
    "Pistachio",
    "Raspberry",
    "Strawberry",
    "Vanilla",
]

for i in range(len(flavors)):
    for j in range(i + 1, len(flavors)):
        print(f"{flavors[i]}, {flavors[j]}")

0
1
2
3
4
5
6

In [124]:
points = [3,4,5,6,7]

In [125]:
points

[3, 4, 5, 6, 7]

In [128]:
dist(points):

SyntaxError: invalid syntax (3007282675.py, line 1)

In [117]:
print(min(num_list))

3

In [122]:
def dist(points):
    min_value = min(points)
    max_value = max(points)
    print(max_value - min_value)

In [ ]:
"""
0 ile 1000 arasında (her ikisi dahil) 7 ile bölünebilen ve rakamlarının toplamı 3 ile bölünebilen tüm sayıları bulup yazdırmak
için bir program oluşturun.

Örneğin, 1512 sayısının 7 ile bölünebilen bir sayıdır ve tüm rakamlarının toplamı (9) 3 ile bölünebilen bir sayıdır.

Başka bir örnek olarak, 21 sayısı 7 ile bölünebilen bir sayıdır ve rakamlarının toplamı (3) 3 ile bölünebilen bir sayıdır.
"""

In [131]:
# 7'ye bölünen sayılar.
divided_seven = []
for i in range(0,1001):
    if i % 7 == 0:
        divided_seven.append(i)

In [147]:
sayı = [123,1244]
new_list = []
for i in sayı:
    new_list.append(i)

In [149]:
new_list.split()

AttributeError: 'list' object has no attribute 'split'

In [150]:
def sum_digits(n):
    return sum(int(digit) for digit in str(abs(n)))

In [151]:
sum_digits(123)

6